<header>
  <div class="row">
    <a href="/">
      <img class="logo" src="{{ ASSET_PATH }}images/radnets_logo.png" width="500" height="76" />
    </a>
    <h2>October 19-21, 2018<br/>Berlin, Germany</h2>
  	<div class="social">
      <a href="https://www.twitter.com/radnetworks" target="_blank"><img src="{{ ASSET_PATH }}/images/twitter_logo.png" width="37" height="37" /></a>
      <a href="mailto:info@radicalnetworks.org"><img src="{{ ASSET_PATH }}/images/email.png" width="37" height="37" /></a>
<!--       <a class="press" href="{{ ASSET_PATH }}/pdf/radical_networks_2017_press_kit.pdf">2017 Press Kit</a> -->
  	</div>
  </div>
</header>