<header>
  <div class="row">
    <a href="/">
      <!-- <h1>Radical<span class="light">/Networks</span></h1> -->
      <img src="{{ ASSET_PATH }}images/radnets_logo.gif" />
    </a>
    <h2>November 4-6, 2016<br/>Elsewhere<br/>Brooklyn, NY</h2>
  	<div class="social">
      <a href="https://www.twitter.com/radnetworks" target="_blank"><img src="{{ ASSET_PATH }}/images/twitter_logo.png" width="37" height="37" /></a>
      <a href="mailto:info@radicalnetworks.org"><img src="{{ ASSET_PATH }}/images/email.png" width="37" height="37" /></a>
  	</div>
  </div>
</header>