<nav>
    <ul>
        <li><a href="/about/"{% if page.url contains "/about/" %}class="active"{% endif %}>About</a></li>
        <li><a href="/participate/"{% if page.url contains "/participate/" %}class="active"{% endif %}>Participate</a></li>
        <!-- <li><a href="/speakers/"{% if page.url contains "/speakers/" %}class="active"{% endif %}>Speakers</a></li>
        <li><a href="/sponsors/"{% if page.url contains "/sponsors/" %}class="active"{% endif %}>Sponsors</a></li>
        <li><a href="/schedule/"{% if page.url contains "/schedule/" %}class="active"{% endif %}>Schedule</a></li> -->
        <li><a href="/policies/"{% if page.url contains "/policies/" %}class="active"{% endif %}>Policies</a></li>
    </ul>
</nav>