<nav class="row navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-spacer"></span>
            <span class="icon-bar"></span>
            <span class="icon-spacer"></span>
            <span class="icon-bar"></span>
            <span class="icon-spacer"></span>
            <br/>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="jb-navbar-collapse">
      <ul class="nav navbar-nav">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for node in sorted_pages %}
        {% if node.group == "navigation" %}
          {% unless node.exclude_from_nav %}
            {% if page.url == node.url %}
              <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            {% else %}
              <li><a href="{{node.url}}">{{node.title}}</a></li>
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>