<nav class="row navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-spacer"></span>
            <span class="icon-bar"></span>
            <span class="icon-spacer"></span>
            <span class="icon-bar"></span>
            <span class="icon-spacer"></span>
            <br/>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="jb-navbar-collapse">
      <ul class="nav navbar-nav">
          {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>