
<div>
	<a class="tickets" href="https://www.eventbrite.com/e/radical-networks-tickets-28325258611" target="_blank">Tickets Available!</a>
</div>
<div>In Partnership with<br/>
	<a href="http://eyebeam.org/" target="_blank"><img src="{{ ASSET_PATH }}/images/eyebeam_logo.png" width="150" height="94" /></a>
</div>
<div>Hosted by<br/>
	<a href="http://chemcreative.com/" target="_blank">
		<img src="{{ ASSET_PATH }}/images/chem.png" width="167" />
	</a>
	<p style="padding-top: 8px">315 Ten Eyck St<br/>Brooklyn, NY 11206</p>
	<!-- <a href="http://www.elsewherebrooklyn.com" target="_blank">
		<img src="{{ ASSET_PATH }}/images/elsewhere.png" width="120" height="135" />
	</a> -->
</div>
<!-- <div>Catered by<br/>
	<a href="http://www.carminesnyc.com/" target="_blank"><img src="{{ ASSET_PATH }}/images/carmines-logo-rgb-1.gif" /></a>
</div> -->
<div class="bigger">Live stream provided by<br/>
	<a href="http://isoc-ny.org/" target="_blank"><img src="{{ ASSET_PATH }}/images/isoclogo.png" width="300" /></a><br/>
	<!--a href="http://livestream.com/internetsociety/radicalnetworks" target="_blank"-->Live stream begins Friday 11/4 at 10:00 AM EST<!--/a-->
</div>
<div class="social">Contact<br/>
	<a href="https://www.twitter.com/radnetworks" target="_blank"><img src="{{ ASSET_PATH }}/images/twitter_logo.png" width="37" height="37" /></a>
    <a href="mailto:info@radicalnetworks.org"><img src="{{ ASSET_PATH }}/images/email.png" width="37" height="37" /></a><br/>
	Download our <a href="{{ ASSET_PATH }}/pdf/radical_networks_2016_press_kit.pdf">2016 Press Kit</a>
</div>