Tickets Available Soon!
<!-- <div>
	<a class="tickets" href="https://www.eventbrite.com/e/radical-networks-tickets-28325258611" target="_blank">Tickets Available!</a>
</div> -->
<!-- <div>In Partnership with<br/>
	<a href="http://eyebeam.org/" target="_blank"><img src="{{ ASSET_PATH }}/images/eyebeam_logo.png" width="150" height="94" /></a>
</div> -->
<div>Hosted by<br/>
	<a href="http://chemcreative.com/" target="_blank">
		<img src="{{ ASSET_PATH }}/images/chem.png" width="167" />
	</a>
	<p style="padding-top: 8px">315 Ten Eyck St<br/>Brooklyn, NY 11206</p>
</div>
<div class="bigger">Live stream provided by<br/>
	<img src="{{ ASSET_PATH }}/images/isoclogo.png" width="300" />
	<!-- <br/><a href="http://livestream.com/internetsociety/radnetworks" target="_blank">Live stream begins Friday 11/4 at 10:00 AM EST</a> -->
</div>
<div class="social">Contact<br/>
	<a href="https://www.twitter.com/radnetworks" target="_blank"><img src="{{ ASSET_PATH }}/images/twitter_logo.png" width="37" height="37" /></a>
	<a href="mailto:info@radicalnetworks.org"><img src="{{ ASSET_PATH }}/images/email.png" width="37" height="37" /></a>
	<!-- <br/>Download our <a href="{{ ASSET_PATH }}/pdf/radical_networks_2017_press_kit.pdf">2017 Press Kit</a> -->
</div>