<div>In Partnership with<br/>
	<a href="http://eyebeam.org/" target="_blank"><img src="{{ ASSET_PATH }}/images/eyebeam_logo_150.png" /></a>
</div>
<div>Hosted by<br/>
	<a href="http://engineering.nyu.edu/" target="_blank"><img src="{{ ASSET_PATH }}/images/engineering_long_white_250.png" /></a>
	<p style="padding-top: 8px">8th Floor, MAGNET<br/>2 Metrotech Center<br/>Brooklyn, NY 11201</p>
</div>
<div>
	<a href="http://www.eventbrite.com/e/radical-networks-conference-tickets-18786973343" target="_blank">TICKETS ON SALE NOW!</a>
</div>
<div class="social">
	<a href="https://www.twitter.com/radnetworks" target="_blank"><img src="{{ ASSET_PATH }}/images/twitter.png"></a>
    <a href="mailto:info@radicalnetworks.org"><img src="{{ ASSET_PATH }}/images/email.png"></a>
</div>